.com-todoitem {
  position: relative;
  margin-bottom: 10px;
  .mask {
    position: absolute;
    top: 0;
    left: 24px;
    right: 24px;
    bottom: 0;
    border-radius:12rpx;
    background-color: rgba($color: #000000, $alpha: 0.3);
    &::before {
      content: '已完成';
      position: absolute;
      z-index: 9999;
      right: 3px;
      top: 25px;
      transform: rotate(45deg);
      color: white;
    }
  }
}